version: '3.8'

services:
  website:
    build: .
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: mysql_container
    # Această linie forțează metoda de autentificare simplă (veche)
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: parola
      MYSQL_DATABASE: savuvladutgeorge
      # Permite conexiunea root de oriunde
      MYSQL_ROOT_HOSTS: '%'
    ports:
      # AICI E TRUCUL: Mapăm portul 3307 de pe laptop la 3306 din container
      - "3307:3306"
    volumes:
      - db_data_new:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - '8081:80'
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: parola
    depends_on:
      - db

volumes:
  # Folosim un nume nou de volum ca să fim siguri că e totul curat
  db_data_new: