* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2c2c2c;
  color: #ffffff;
  font-family: Arial, sans-serif;
  padding-top: 10px;
}


.poze {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.slideshow-container {
  max-width: 1400px;
  position: relative;
  margin-top: 120px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.slide {
  display: none;
}

.slide img {
  width: 100%;
  border-radius: 10px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: 0.3s;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.3);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.fade {
  animation-name: fade;
  animation-duration: 0.8s;
}

@keyframes fade {
  from { opacity: 0.4; }
  to { opacity: 1; }
}
