body {
    font-family: Arial;
    background-color: #f9faff;
}

.titlu {
    color: #2c3e50;
	text-align: center;
}

.imagine {
    max-width: 400px;
    display: block;
    margin: 0 auto 30px auto;
	border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.tabel {
    width: 80%;
    margin: 0 auto 40px auto;
    border-collapse: collapse;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.tabel, .tabel th, .tabel td {
    border: 2px solid #4a4a4a;
}

.tabel th, .tabel td {
    padding: 12px;
    text-align: center;
}

.tabel th {
    background-color: #34495e;
    color: white;
}

.tabel tr:nth-child(even) {
    background-color: #f2f2f2;
}
.tabel tr:nth-child(odd) {
    background-color: #ffffff;
}

.tabel tr:hover {
    background-color: #a3c4f3;
    cursor: pointer;
}

.scop {
    font-style: italic;
    color: #555;
	text-align: center;
}
